@font-face {
  font-family: 'Nohemi-Regular';
  src: url('../fonts/Nohemi/Nohemi-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nohemi-Bold';
  src: url('../fonts/Nohemi/Nohemi-Bold.ttf') format('truetype');
}
