.desktop{visibility:hidden;}
@media only screen and (min-width: 720px) {

    nav {
        font-size: 0.9em;

        ul li a div svg {
            width: 2em;
            height: 2em;
        }
    }
.desktop {
    display:block;
    visibility: visible;
}
    div .join_buttons {
        display: none;
    }

    .join__form {

        .join__form__input,
        .join__form__submit {
            width: 20em;
        }
    }

    .info__text {
        width: 60%;
    }

    .info__container {
        margin-right: 10%;
    }
    .sessions__table__container{
        padding: 2em;
    }
    .top-ideas table {
        table-layout: auto;
        th, td {
          &:nth-child(1) { width: 15%; }
          &:nth-child(2) { width: 20%; }
          &:nth-child(3) { width: 40%; }
          &:nth-child(4) { width: 10%; }
          &:nth-child(5) { width: 15%; }
        }
      }
}