.collecting-process {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 2vh;
    background-color: var(--background);
    width: 50%;
    box-sizing: border-box;
    padding: 0.25em;
  }
}

.timeline {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: stretch;

  div {
    margin: 0.4em;
    display: flex;
    flex-direction: column;
    min-width: 25%;
    align-items: center;
    justify-content: start;
    background-color: var(--background);
    padding: 0.25em;
    border-radius: 5px;
    padding: 0.25em;
    border-radius: 5px;
    border: solid var(--accent) 2px;

    .round {
      border: solid var(--accent) 2px;
      border-radius: 50%;
      color: var(--accent);
      background-color: var(--text);
      text-align: center;
      width: 2em;
      height: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1em;
      background-color: var(--background);
      padding: 0.25em;
      border-radius: 5px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      margin: 0;
      align-items: center;
      justify-content: center;
      padding: 0;
      max-width: 6em;
      background-color: var(--background);
      padding: 0.25em;
      border-radius: 5px;

      li {
        height: calc(width);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--background);

        svg {
          font-size: 0.4em;
          background-color: var(--background);
          padding: 1em;
          text-align: center;
          width: 3em;
          height: 3em;
          display: flex;
          fill: var(--secondary);
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.collecting-pdf {
  background-color: var(--text);
  padding: 0.5em;

  table {
    border: solid var(--accent);
    border-collapse: collapse;
    background-color: var(--background);
    box-sizing: border-box;
    overflow: hidden;
    font-size: 0.9em;

    th {
      color: var(--accent);
      padding: 0.5em 0;
      border-bottom: solid var(--accent);
      border-top: solid var(--accent);
    }

    td {
      color: var(--secondary);
      padding: 0.8em;
      word-wrap: break-word;
      overflow-wrap: break-word;
      border-bottom: solid var(--accent);

      a,
      a:active,
      a:focus {
        color: var(--secondary);
      }
    }

    .center {
      text-align: center;
    }
  }

  .top-ideas table {
    table-layout: auto;

    th,
    td {
      &:nth-child(1) {
        width: 15%;
      }

      &:nth-child(2) {
        width: 20%;
      }

      &:nth-child(3) {
        display: none;
        width: 40%;
      }

      &:nth-child(4) {
        width: 10%;
      }

      &:nth-child(5) {
        width: 15%;
      }
    }
  }
}

.top-ideas {
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    fill: var(--secondary)
  }

  h2 {
    margin: 2vh 0;
    background-color: var(--background);
    width: 50%;
    padding: 0;
    box-sizing: border-box;
    padding: 0.25em;
    border: none;
    border: solid;
  }

  th {
    color: var(--accent);

    svg {
      fill: var(--accent);
    }
  }
}

.word-cluster {
  margin-top: 2vh;
  display: flex;
  border: solid var(--accent);
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--background);

  h2 {
    margin-bottom: 2vh;
    background-color: var(--background);
    width: 100%;
    box-sizing: border-box;
    padding: 0.25em;
    border: none;
    border-bottom: solid;
  }

  ul {
    background-color: var(--background);
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    margin: 0.5rem;
    display: inline-block;
    color: var(--secondary);

    &.count-1 {
      font-size: 0.6em;
    }

    &.count-2 {
      font-size: 0.8em;
    }

    &.count-3 {
      font-size: 1em;
    }

    &.count-4 {
      font-size: 1.2em;
    }

    &.count-5 {
      font-size: 1.4em;
    }

    &.count-6 {
      font-size: 1.6em;
    }

    &.count-7 {
      font-size: 1.8em;
    }

    &.count-8 {
      font-size: 2em;
    }

    &.count-9 {
      font-size: 2.2em;
    }

    &.count-10 {
      font-size: 2.4em;
    }
  }
}

.tags-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh 0;
  background-color: var(--background);
  text-align: center;
  border: solid var(--accent);

  h2 {
    background-color: var(--background);
    width: 100%;
    border: none;
    border-bottom: solid;
    box-sizing: border-box;
    padding: 0.25em;
  }

  ul {
    background-color: var(--background);
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 2vh 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  li {
    margin: 0.5rem;
    display: inline-block;
    color: var(--accent);
    padding: 0.5em 1em;
    border-radius: 5px;
    border: solid var(--accent);

    &.count-1 {
      padding: 0.1em;
    }

    &.count-2 {
      padding: 0.3em;
    }

    &.count-3 {
      padding: 0.6em;
    }

    &.count-4 {
      padding: 0.8em;
    }

    &.count-5 {
      padding: 1em;
    }

    &.count-6 {
      padding: 1.2em;
    }

    &.count-7 {
      padding: 1.4em;
    }

    &.count-8 {
      padding: 1.6em;
    }

    &.count-9 {
      padding: 1.8em;
    }

    &.count-10 {
      padding: 2em;
    }
  }
}

.next-steps {
  background-color: var(--background);
  color: var(--secondary);
  border: solid var(--accent);
  margin: 2vh 0;

  h2 {
    background-color: var(--background);
    width: 100%;
    border: none;
    border-bottom: solid;
    box-sizing: border-box;
    padding: 0.25em;
  }

  ul {
    padding: 1.5em;
  }

  li {
    margin-left: 1em;
    margin-bottom: 0.3em;
  }
}
.token {font-size:0.8em}
#first-table {
  margin-bottom: 0.5em;
  table-layout: fixed;
  th,
  td {
    &:nth-child(1) {
      width: 35%;
    }

    &:nth-child(2) {
      width: 20%;
    }

    &:nth-child(3) {
      width: 10%;
    }

    &:nth-child(4) {
      width: 25%;
    }
  }
}

.newSession__buttons,
.summary__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  .accent {
    border: solid var(--secondary);
    background-color: var(--background);

    &:hover {
      background-color: var(--text);
      border: solid var(--accent);
      color: var(--accent);
    }
  }

  .secondary {
    background-color: var(--accent);
    color: var(--text);
    border: solid var(--accent);

    &:hover {
      background-color: var(--text);
      color: var(--secondary);
      border: solid var(--secondary);
    }
  }

  .primary {
    background-color: var(--secondary);
    border: solid 4px var(--primary);
    background-color: var(--text);

    &:hover {
      color: white;
      border: solid 4px var(--primary);
      background-color: var(--secondary);
    }
  }

  button {
    background-color: var(--background);
    border-radius: 15px;
    margin: 0.25em;
    font-size: 1em;
    width: 50%;
    padding: 0.5em;
    margin: 1vh;
  }
}