.collecting-process {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline {
  width: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  flex-wrap: wrap;

  div {
    margin: 0.4em;
    display: flex;
    flex-direction: column;
    min-width: 25%;
    align-items: center;

    .round {
      border: solid var(--accent) 2px;
      border-radius: 50%;
      color: var(--secondary);
      background-color: var(--text);
      text-align: center;
      width: 2em;
      height: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1em; 
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      margin: 0;
      align-items: center;
      justify-content: center;
      padding: 0;
      max-width:6em;

      li {
        height: calc(width);
        display: flex;
        align-items:center;
        justify-content: center;
        div{
          font-size: 0.4em;
          background-color: var(--text);
          border-radius: 50%; 
          text-align: center;
          width: 3em;
          height: 3em;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.session-data, .top-ideas{
  background-color:var(--text);
  color: var(--secondary);
  th{color:var(--accent);}
}