.headline__join {
  display: flex;
  margin-top: 1em;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-family: 'Nohemi-Bold', sans-serif;

  &__icon {
    width: 30vw;
  }

  &__text {
    margin-top: 0.5em;
    display: flex;
  }

  &__brain {
    color: var(--primary);
  }

  &__frame {
    color: white;
  }

  p {
    margin: 0;
  }
}

.headline {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0.5em;

  &__session-pin {
    width: 60vw;
    text-align: center;
    padding: 0.5em;
    font-size: 1.3em;
    border: solid var(--accent) thick;
    background-color: var(--text);
    color: var(--secondary);

    p {
      margin-top: 0.75em;
      color: var(--accent);
      cursor: pointer;

      &:hover {
        color: white;

        svg {
          fill: white;
        }
      }
    }

    svg {
      fill: var(--accent);
      width: 0.7em;
      margin-left: 0.2em;
    }
  }

  &__brainframe-icon {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: auto;
      height: 100%;
      max-height: 4.5em;
    }
  }
}

.selectRole__head {
  display: flex;
  align-items: center;

  h2 {
    padding: 0.25em;
    color: var(--accent);
    font-size: 1.4em;
    font-family: 'Nohemi-Regular', sans-serif;
  }
}

.headline__session-target {
  font-size: 1.4em;
  display: inline-block;
  border: solid var(--primary) thick;
  box-sizing: border-box;
  height: auto;
  padding: 1em;
  background-color: var(--secondary);
  color: white;
  overflow: hidden;
  resize: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &::placeholder {
    text-align: center;
    font-size: 1em;
    color: var(--accent);
  }
}

.info__container {
  margin-left: auto;
  margin-right: 1em;
}

.join__contributors__count,
.ideasCount {
  background-color: var(--text);
  border: solid var(--secondary);
  padding: 0.5em 1em 0.5em 1em;
  color: var(--secondary);
  display: flex;
  align-items: center;
  width: auto;
  display: inline-flex;
  margin-top: 0.5em;

  p {
    width: 3em;
  }

  input {
    margin-left: 1em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    accent-color: var(--secondary);
    width: 10em;
    border-radius: 6px;
    border: thin solid var(--secondary);
    height: 0.3em;
    filter: none;
    box-shadow: none;
    background-color: var(--background);

    &:hover::-moz-range-thumb,
    &:focus::-moz-range-thumb {
      background-color: var(--secondary);
      filter: none;
      box-shadow: none;
    }
  }

  input[type=range]:focus,
  input[type=range]:hover {
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--background);
    filter: none;
    box-shadow: none;
    accent-color: var(--secondary);
  }

  p {
    padding-top: 0.4em;
    font-size: 1em;
  }

  .contributor-icon {
    margin-right: 0.5em;
  }

  .ideas-icon {
    margin-left: 0.5em;
  }

  svg {
    margin-right: 1em;
    width: 1.2em;
    height: auto;
    fill: var(--secondary)
  }
}

.timer {
  position: fixed;
  bottom: 15vh;
  right: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 2.5em;
  color: var(--secondary);
  background: transparent;
  border-radius: 50%;
  box-sizing: border-box;
}

.timer::before {
  content: '';
  position: absolute;
  inset: -3px;
  padding: 3px;
  border-radius: 50%;
  background: conic-gradient(var(--secondary) var(--progress), transparent 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.ideasCount {
  margin: 0.5em;
}

.headline__sessions,
.headline__login {
  margin-top: 1em;
  display: inline-block;
  border: solid var(--accent)thick;
  background-color: var(--text);
  padding: 1em;
  width: 100%;
  box-sizing: border-box;

  .response {
    color: var(--accent)
  }

  h1 {
    color: var(--accent);
  }
}

.session_headline__details {
  display: flex;
  justify-content: space-between;

  div {
    min-width: 6em;
    background-color: var(--text);
    border: solid var(--secondary);
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    padding: 0.25em;

    p {
      padding: 0.2em;
    }

    svg {
      margin-right: 1em;
      width: 1.2em;
      height: auto;
      fill: var(--secondary)
    }
  }
}

.vote__headline__container {
  text-align: center;
  margin-top: 0.5em;
  font-size: 1em;
}